%ul.user-list
  - authors.each_with_index do |author, i|
    - next if author.nil?
    %li.user{:class => i%2 == 0 ? "even" : "odd"}
      - present author do |author_presenter|
        = author_presenter.avatar

        .info
          = author_presenter.name_info
          = author_presenter.bio

      - if current_user && current_user.feed != author.feed && author.feed
        - following = current_user.following_author?(author)
        .follow{:class => (following ? "negative" : "positive")}
          - if following
            = form_tag "/subscriptions/#{author.feed.id}" do
              %input{:type => "hidden", :name => "_method", :value => "delete"}
              %input.button.unfollow{:type => "submit", :value => "Unfollow", :id => "unfollow-#{author.feed.id}"}
          - else
            = form_tag "/subscriptions" do
              %input{:type => "hidden", :name => "subscribe_to", :value => author.feed.id}
              %input.button.follow{:type => "submit", :value => "Follow", :id => "follow-#{author.feed.id}"}
